@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-fondo-primario: #F3F5FC; /*este es el color principal de la interfaz, el mas amplio*/
    --color-fondo-secundario: #FFFFFF;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
    --color-basico-boton: #0A3871;
    --color-secundario-boton: #D8DFE8;
    --color-texto-boton: #FFFFFF;
    --fuente-inter: "Inter", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--color-fondo-primario);
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    line-height: 150%;    
}
::selection{
    background: var(--color-basico-boton);
    color: var(--color-fondo-secundario);
}

body{
    height: 100%;
}
img{
    max-width: 100%;
}
/*encabezado*/
header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}
header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}
/*sección principal del sitio*/
main{
    display: flex;
    flex-direction: row;    
}
.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;    
}
.encriptar{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid paleturquoise;
    border-radius: 15px;
    resize: none;
}
.encriptar::placeholder, :focus{
    color: var(--color-basico-boton);
}
.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}
.texto-aviso{
    width: 100%;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.8;
    color: var(--color-hover);    
}
.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}
.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--color-texto-boton);
    background-color: var(--color-basico-boton);
    border: 1px solid var(--color-basico-boton);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--profundo);    
}
.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--color-secundario-boton);
    border: 1px var(--color-basico-boton);
    border-radius: 24px;
    color: var(--color-basico-boton);
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--profundo); 
}
.tarjeta{
    width: 270px;
    height: 580px;
    background: var(--color-fondo-secundario);
    box-shadow: 10px 24px 32px -8px rgb(42, 16, 134);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}
.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: rgb(255, 255, 255);
}
.img-muñeco{
    background: var(--color-fondo-secundario);
}
.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--color-hover);
    background: var(--color-fondo-primario);
}
.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--color-hover);
    background: var(--color-fondo-primario);    
}

.mensaje{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-hover);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}
.mensaje:focus{
    outline: none;
}

.copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    /*visibility: hidden;*/
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--color-secundario-boton);
    border: 1px solid var(--color-basico-boton);
    border-radius: 24px;
    color: var(--color-basico-boton);
    cursor: pointer;
}
/*.copiar:active{
    box-shadow: inset 2px 2px 4px var(--color-basico-boton);
    inset: -3px -4px 8px var(--color-fondo-primario);
    color: var(--color-terciario);
}*/

/* Pie de página (footer) */
.footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--color-fondo-primario);
    color: var(--color-hover);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-hover);
}


@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptador-contenedor{
        display: flex;
        align-items: center;
        position: inherit;
    }
    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }
    .tarjeta{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }
    .img-muñeco{
        display: none;
    }
    .copiar{
        position: inherit;
        width: 100%;
    }
    .mensaje{
        width: 100%;
        height: 210px;
        padding: 10px;
    }    
}

@media(max-width: 720px){
    header .logo{
        width: 100%;
        background: var(--color-fondo-secundario);
        padding: 2px;
    }
    .encriptar{
        width: 90%;
        font-size: 24px;
    }
    .encriptador-contenedor{
        display: grid;
        gap: 21px;
    }
    .mensaje{
        width: 90%;
    }
    .footer{
        font-size: 20px;
    }
    
}